<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/Contact">Contact us</a></li>
        </ul>
    </nav>
    <section id="one">
        <div>welcome to our</div>
        <div>ABCD Dance Academy</div>
    </section>
    <section id="mission">
        <h3>our mission</h3>
        <div class="card"><p>Dance parfection</p></div>
        <div class="cardOne"> <p>Dance the way you like</p></div>
        <div class="cardTWO"><p>Expert Teaching</p></div>
    </section>
     <section class="sponsor">
        <h5> our sponsor</h5>
        <img src="../static/google.png"  alt="google">
        <img src="../static/wipro.png" alt="wipro">
        <img src="../static/TCS.NS.png" alt="TCS">
     </section>
     <footer><p>Copyright @ 2023 ABCD DanceAcademy.com|All right resered</p></footer>
</body>
</html>