<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/Contact">Contact us</a></li>
        </ul>
    </nav>
        <section class="services"> 
         <h2>Our Services</h2> 
         <div class="services"> 
          <h3>Contemporary Dance Classes</h3> 
          <p>Learn the art of expressive and fluid movements in our contemporary dance classes.</p> 
         </div> 
         <div class="service"> 
          <h3>Ballet Lessons</h3> 
          <p>Experience the grace and precision of ballet with our professional instructors.</p> 
         </div> 
         <div class="service"> 
          <h3>Hip Hop Workshops</h3> 
          <p>Get groovy and learn the latest hip hop moves in our energetic workshops.</p> 
         </div> 
        </section> 
    <div class="service">
        <h2>Intermediate Dance Class</h2>
        <p>Build on your foundation and learn more complex routines and choreography. Perfect for those with some dance experience.</p>
    </div>
    <div class="service">
        <h2>Advanced Dance Class</h2>
        <p>For experienced dancers looking to refine their skills, learn advanced techniques, and take on challenging routines.</p>
    </div>

    <div class="service">
        <h2>Private Lessons</h2>
        <p>One-on-one sessions with our instructors tailored to your specific goals and skill level.</p>
    </div>
    <footer><p>Copyright @ 2023 ABCD DanceAcademy.com|All right resered</p></footer>
</body>
</html>