#navbar{
    background-color:black;
 }
 ul{
     display: flex;
     flex-direction: row;
     justify-content: center;
     
 }
 li{
     list-style: none;
     padding: 12px;
     text-align: center;
 }
 a{
     text-decoration:none;
     color:white;
     font-size: 20px;
 }
 footer{
    height:5vh;
    background-color: black;
    color:white;
    text-align: center;
}